.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 50px;
}

.wrapper-no {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  font-size: 1.5rem;
  color: rgb(91, 8, 146);
}